#side-menu {
    margin-left:160px;
    margin-top:-0.1px;
    float:left;
    position:absolute;
    background-color:#63AFD0;
    width:180px;
    height:300px;
    color:#0E4168;
    padding:5px;
}

#side-menu li {
    clear:left;
    margin:4px;
    margin-left:15px;
    list-style: none;
    color:white;
}

h3 {
    text-align:center;
}

#side-menu li:hover {
    cursor: pointer;
    background: lightskyblue;
    color: #ffffff;
}
#submitButton:active {
    background: darkblue;
    color: #ffffff;
}

#side-menu a:link {color:white;}
#side-menu a:visited {color:white;}

